/*$path-length: 6000;
$anim-time: 1s;

:global(path) {
  stroke-dasharray: $path-length;
  stroke-dashoffset: $path-length;
  animation: dash $anim-time linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: $path-length;
  }
  to {
    stroke-dashoffset: 0;
  }
}*/
